.App{
    max-width: 430px;
    padding:  20px;
}

.title {
    font-size: 60px;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
    text-transform: lowercase;
    margin-bottom: 20px;
}

.list-container {
    margin-top: 40px;
}