.App{
    max-width: 430px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
@keyframes title {
    0%{
        opacity: 0%;
        transform: translateY(-20px) rotate3d(1, 0, 0, 90deg);

    }
    
}

.title {
    font-size: 48px;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    text-transform: lowercase;
    margin-bottom: 20px;
    animation: title 0.5s ease;
}

.list-container {
    margin-top: 40px;
}

@keyframes clearList {
    0%{
        opacity: 0%;
    }

    50%{
        opacity: 0%;
        transform: translateY(150px);
    }
}

.clearList{
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color: #272727;
    color: white;
    font-weight: 700;
    width: fit-content;
    align-self: center;
    animation: clearList 1s ease
}

.clearList:active{
    transform: scale(95%);
}

.footer{
    margin-top: 50px;
    width: 100%;
    background-color: #b44f13;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 3px;
}

.instructions{
    margin-top: 40px;

}

.instructions ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.instructions p{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;

}

.instructions li{
    background-color: #eacab7;
    padding: 10px;
    border-radius: 15px;
}

.index-instructions{
    font-weight: 600;
}

.small{
    transform: scale(70%);
    margin: 0;
    opacity: 80%;
}
.smallest{
    transform: scale(70%);
    margin: 0;
    opacity: 80%;
}

.small:hover{
    transform: scale(70%)
}

.btn-delete-inst {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #b44f13;
    color: white;
    font-weight: bolder;
    font-size: 22px;
    padding-bottom: 2px;
  }

  .btn-add-inst{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d47739;
    color: white;
    border: none;
    font-size: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  }
  