.App{
    max-width: 430px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
@keyframes title {
    0%{
        opacity: 0%;
        transform: translateY(-20px) rotate3d(1, 0, 0, 90deg);

    }
    
}

.title {
    font-size: 60px;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
    text-transform: lowercase;
    margin-bottom: 20px;
    animation: title 0.5s ease;
}

.list-container {
    margin-top: 40px;
}

@keyframes clearList {
    0%{
        opacity: 0%;
    }

    50%{
        opacity: 0%;
        transform: translateY(150px);
    }
}

.clearList{
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color: #272727;
    color: white;
    font-weight: 700;
    width: fit-content;
    align-self: center;
    animation: clearList 1s ease
}

.clearList:active{
    transform: scale(95%);
}