@keyframes form {
  0%{
    opacity: 0%;
    
  }

  50%{
    opacity: 0%;
    transform: rotate3d(0, 1, 0, 90deg);
  }
  
}
.form {
  left: calc(50% - 45vw);
  width: 90vw;
  box-sizing: border-box;
  position:fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  /* animation: form 0.5s ease; */
}

.form label {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.form input[type="text"],
input[type="number"] {
  text-align: center;
  border: none;
  line-height: 1.7rem;
  margin-top: 2px;
  background-color: #eacab7;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

.form input:focus {
  outline: none;
  touch-action: none !important;
  font-size: 24px !important;
}

@keyframes button{
  0%{
    opacity: 0%;
    transform: scale(130%) translateY(-100px);
  }
}

.button {
  margin-top: 10px;
  padding: 10px 50px;
  background-color: #b44f13;
  border-radius: 15px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  animation: button 1s ease;
}

.button:active{
  transform: scale(95%);
}

@keyframes inputs{
  0%{
    opacity: 0;
    transform: scale(50%)
  }
}

.label-item{
  animation: inputs 0.33s ease;

}

.label-quantity{
  animation: inputs 0.66s ease;
}

.label-item,
.label-quantity{
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #eacab7;
  border-radius: 15px;
  color: #ac5151;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  
}

.label-value {
    position: relative;
    padding-left: 20px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eacab7;
    border-radius: 15px;
    color: #ac5151;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    animation: inputs 1s ease;
  }

  /* .label-value::before {
    content: "\20AC";
    position: absolute;
    left: 130px;
    top: 71%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #000; */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.btn-add-item{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 32px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 3;
  background-color: red;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.btn-add-item:hover{
  transform: scale(110%);
}

.btn-fechar-input{
  width: 35px;
  height: 35px;
  background-color: darkgoldenrod;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  position: absolute;
  top: -10px;
}

.input-title{
  color: white;
  margin: 10px 0;
}